body{
    background-color: lightblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-image: url(/img/Sfondo.jpg);
    background-size: contain;
}

.image{
    width: 200px;
    height: 200px;
}
  

.text-muted{
    color: #919aa3;
}

.container{
    display: flex;
    justify-content: center;
}

h1{
    margin-bottom: 40px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding:40px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra */

}

.descrizione .testo{
    text-align: justify;
}
